body {
  color: #303942;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.content {
  padding: 1.5rem;
}

.about {
  border-top: 1px solid #dbdbdb;
  margin-top: 1.5rem;
  padding: 1.5rem 0 0 0;
}

.about button {
  margin-bottom: 0.5rem;
  margin-inline-end: 1rem;
}
